body {margin:5px;padding:0px;border:0px;background-color:#444;font-family:'Arial';font-size:100%}
body>main {display:grid;grid-gap:15px;grid-template-columns:2fr 4fr;grid-template-rows:80px 40px 400px 40px;grid-template-areas:"header  header " "tl tr" "sidebar content" "footer  footer"}
#botomhead,#menu,#stl,#str,#footer,#head,#wait {color:#fff;background-color:#999;border-radius:5px}
#right,#left {color:#fff}
#right>section>img,#right>section>input,#right>section>textarea,#div_edit>img ,#right>section>select{border-radius:4px}
#botomhead>section:first-child {font-size:120%;padding-top:7px;width:150px;height:25px;position:absolute;left:5px;top:40px;vertical-align:middle;text-align:center;cursor:pointer}
#menu>section {padding-top:10px}
#menu>section:last-child {padding-bottom:15px}
#head {grid-area: header;font-size:150%;text-align:center;padding-top:30px}
#stl {grid-area:tl}
#str { grid-area:tr}
#stl,#str {vertical-align:middle;padding:7px;padding-left:30px;font-size:120%}
#left>ul>li {list-style-type:none;margin-bottom:20px;cursor:pointer}
#left>ul>li>ul>li {list-style-type:none;margin:6px;margin-left:-25px;margin-top:15px}
#left>ul>li>ul>li:first-child {margin-top:15px}
#left_m {grid-area:sidebar;overflow-y:scroll;scroll-behavior:smooth}
#right>section {margin-top:8px;margin-left:3px}
#right>section>label {text-align:right;padding-right:5px;width:120px;vertical-align:top;display:inline-block}
#right>section>input,#right>section>textarea {min-height:25px;width:400px;font-family:'Arial';font-size:100%}
#right>section>select {width:406px;font-size:100%}
#right>section>img {height:250px;margin-left:6px}
#right {margin-top:20px}
#right_m {grid-area:content;position:relative;overflow-y:scroll;scroll-behavior:smooth}
#div_edit {margin:8px;margin-left:20px}
#div_edit>img {height:30px;margin-left:15px;margin-top:5px;cursor:pointer}
#footer {grid-area:footer;padding-left:30px;padding-top:10px;font-size:100%}
#wait {height:0px;background-color:#444;display:none;position:absolute;top:0px;left:0px;bottom:0px;right:0px;width:100%;height:100%;line-height:500px;vertical-align:middle;text-align:center;font-size:150%}
.topleft {position:absolute;top:0;left:0}
.topright {position:absolute;top:0;right:0}
.bottomleft {position:absolute;bottom:0;left:0}
.bottomright {position:absolute;bottom:0;right:0}
