html, body {margin:0;padding:0;border:0;font-family:'Arial',sans-serif;font-size:10pt;font-weight:normal;}
body {background:#FBFBFA;overflow-y: scroll;}
.header {width:99%;height:80px;min-height:80px;max-height:80px;}
.main {width:99%;height:100%;}
.footer {vertical-align:middle;font-weight:bold;background:#8DABCB;width:100%;height:25px;min-height:25px;max-height:25px;position:absolute;bottom:0;left:0;}
.left-pan {width:15%;height:100%;display:inline-block;vertical-align:top;min-width:250px;}
.right-pan {height:100%;display:inline-block;min-width:400px;}
.menu {padding-top:7px;width:120px;height:25px;position:absolute;left:10px;top:40px;vertical-align:middle;text-align:center;cursor:pointer;background-color:#ddd;}
.submenu:first-child {margin-top:9px;}
.submenu {padding-top:5px;width:120px;height:30px;vertical-align:middle;text-align:center;cursor: pointer;background-color:#ddd;}
.list {margin-left:10px;cursor: pointer;}
.hl {padding-left:10px;padding-top:4px;font-weight:bold;height:25px;min-height:25px;max-height:25px;background:#8DABCB;color:#ffffff;vertical-align:middle;border-right:1px solid black}
.top-head {padding-left:10px;line-height:35px;font-weight:bold;font-size:1.5em;height:35px;width:100%;background:#8DABCB;color:#ffffff;}
.edit {height:40px;}
.img_edit {height:30px;margin-left:15px;margin-top:5px;cursor:pointer;}
#lbl_foot {margin-top:5px;margin-left:10px;vertical-align:middle;color:#ffffff;}
#left>ul>li {list-style-type:none;margin:7px;margin-left:-20px}
#left>ul>li>ul>li {list-style-type:none;margin:4px;margin-left:-25px}
#right>div {margin-top:5px;}
#right>div>label {text-align:right;padding-right:5px;display:inline-block;width:120px;vertical-align:top;}
#right>div>input,#right>div>select,#right>div>textarea {width:400px}
#right>div>img {height:250px}
#wait {display:none;position:absolute;top:0px;lef:0px;width:100%;height:100%;background:#ddd;zIndex = 1000;line-height:500px;vertical-align:center;text-align:center;font-size:25pt}